p {
  border: 5px solid #999;
  padding: 1em;
  width: 400px;
}

.one {
  background-color: #490A3D;
  color: #fff;
  position: absolute;
  top: 10px;
}

.two {
  background-color: #E97F02;
  position: absolute;
  top: 20px;
}

.three {
  background-color: #8A9B0F;
  position: absolute;
  top: 30px;
}

