body {
  font-family: Arial;
  margin: 0 
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  text-align: center;
}

nav {
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  float: left;
  margin: 0;
  padding: 0;
  height: 50px;
  line-height: 50px;
  background-color: black;
  width: 25%;
  text-align: center;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

li a:hover {
  color: lightgray;
}

#hero {
  width: 100%;
  height: 300px;
  background-color: lightgray;
  text-align: center;
  clear: both;
}
